

html {
    background: white;
}

.team-container{
    display: block;
    width: calc(100% - 20px);
    max-width: 900px;
    margin: 0px;
    padding: 0px 10px;
}
.team-container li{
    list-style-type: none;
    margin: 10px;
    width: 160px;
    display: inline-flex;
    flex-direction: column;
}

#getStartedForm form{
    display: flex;
    align-items: flex-start;
}

#getStartedForm input{
    margin: 0px 10px 10px 0px;
}

#getStartedForm button{
    margin: 0px;
    width: 140px;
    background: #bc4040;
    color: white;
    font-size: 16px;
    font-weight: 500;
    height: 43px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
    width: 170px;
}
#getStartedForm button:hover{
    background: #7d2c2c !important;
}
#newsletter-signup {
    display: flex;
    position: fixed;
    width: 200px;
    height: 48px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 7px 30px -1px #00000069;
    transition: all 0.4s;
    left: 15px;
    bottom: 15px;
    z-index: 500;
    overflow: hidden;
    background: #bf3737;
}

#storesResults > div h2 span a{
    color:gray !important;
}

.aicon-clear {
    background: #f3f3f3ad !important;
}

.aicon-clear span {
    padding: 6px;
    color: #3377cd !important;
    font-weight: bold;
}

div.aicon-loading {
    background: whitesmoke !important;
    padding: 10px !important;
    cursor: unset !important;
}

div.aicon-loading span {
    font-weight: bold;
    color: gray !important;
}

#newsletter-signup>span {
    padding: 8px 15px;
    background: #bf3737;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.4s;
    transition-delay: 0.3s;
    display: inline-flex;
}

#newsletter-signup>span img {
    width: 30px;
    height: auto;
    filter: brightness(9);
}

#newsletter-signup>h2 {
    background: #bd3a3a;
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    overflow: hidden;
    transition: opacity 0.4s;
    transition-delay: 0.3s;
}

#newsletter-signup>form {
    visibility: hidden;
    padding-top: 0px;
    opacity: 0;
    width: 0px;
    margin: auto;
    position: relative;
    transition: padding-top 0.5s, opacity 0.6s;
    transition-delay: 0.4s;
    overflow: hidden;
}

#newsletter-signup>img {
    width: 15px;
    height: 15px;
    top: 10px;
    right: 10px;
    position: absolute;
    visibility: hidden;
    opacity: 0px;
    filter: brightness(9);
    transition: top 0s, opacity 0.3s;
}

#newsletter-signup form>div {
    width: 250px;
}

#newsletter-signup form button {
    margin: 0px auto 20px;
    display: block;
    box-shadow: 0px 2px 20px #00000029;
    background: white;
    color: #bf3a3a;
}

#newsletter-signup form input {
    margin: 6px auto 38px;
    border: 2px solid white;
    display: block;
    height: 40px;
    width: calc(100% - 30px);
    font-size: 15px;
}

#newsletter-signup form p {
    padding: 15px 0px 15px;
    font-size: 15px;
    color: white;
}

#newsletter-signup form h1 {
    font-size: 23px;
    text-transform: uppercase;
    color: #ffffff;
}

#newsletter-signup.opened {
    width: 280px;
    height: 340px;
    background: #be3a3a;
}

#newsletter-signup.opened>span,
#newsletter-signup.opened>h2 {
    width: 0px;
    padding: 0px;
    opacity: 0;
}

#newsletter-signup.opened>img {
    visibility: visible;
    opacity: 1;
}

#newsletter-signup.opened>form {
    width: 250px;
    padding-top: 25px;
    visibility: visible;
    opacity: 1;
}

#newsletter-signup.newsletter-hidden {
    bottom: -90px;
}

.green-button,
button[type=submit] {
    text-shadow: 0 1px rgba(0, 0, 0, .2);
    cursor: pointer
}

body,
html,
nav,
nav img {
    display: block;
    position: relative
}

#market-floor{
    background: url(../images/china-gray.jpg) no-repeat center;
    background-size: cover;
}
#market-floor > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 110px 10px 60px;
    background: #0000002b;
}
#market-floor > div > div{
    max-width: 1000px;

}
#market-floor h2{
    color: white;
}

#market-floor ul{
    padding: 50px 0px 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#market-floor li{
    display: flex;
    justify-content: space-between;
    margin: 0px auto 30px;
    width: fit-content;
}
#market-floor li span{
    display: block;
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    color: white;
}
#market-floor li span:first-child{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0px;
    color: #be4040;
    text-shadow: 0px 0px 18px #00000061;
}
#market-floor img{
    display: block;
    width: 30px;
    height: 30px;
    margin: 4px 15px 0px 0px;
    filter: brightness(10);
}

#market{
    padding-top: 65px;
}

.green-button,
div#aicon .results a:last-child,
div#aicon div.results div>div>a,
div#market a,
footer a,
nav+ul a {
    text-decoration: none
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

* {
    transition: opacity .5s, top .5s
}

body,
html {
    font: 14px/1.43 "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: #2f2f2f
}

h1,
h2,
h3,
h4,
h5,
p,
.nav_ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center
}

p {
    font-size: 20px;
    padding: 20px
}

img {
    display: block;
    margin: auto
}



button[type=submit] {
    font-size: 15px;
    text-transform: uppercase
}

form.with-border input,
form.with-border textarea {
    border: 1px solid #d3d3d3
}



button[type=submit] {
    width: 110px;
    margin: 0 5px;
    height: 50px;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    background: #bd3a3a;
    color: #fff;
    outline: 0
}

button[type=submit]:active,
button[type=submit]:focus,
button[type=submit]:hover {
    background-color: #ec4949 /*#7d2c2c*/;
}

input::placeholder,
textarea::placeholder {
    color: #bbb
}

nav:not(#nav-below) {
    width: 250px;
    color: #bc3f3f;
    top: 0;
    left: 0;
    padding-top: 13px;
    padding-left: 20px;
    position: fixed;
    z-index: 600;
}

nav.nav-displayed {
    top: -100px;
}

nav img {
    height: 40px;
    display: inline-block;
}

nav+ul {
    display: flex;
    justify-content: flex-end;
    top: 0px;
    position: fixed;
    z-index: 500;
    width: 100%;
    transition: all 0.8s;
}

nav+ul.green,
nav+ul.always-green {
    background: #bd4040;
    box-shadow: 0 0px 22px #00000063;
    transition: all 0.3s;
}

nav+ul li {
    list-style-type: none;
    overflow: hidden;
}

nav+ul li a {
    padding: 15px;
}

nav+ul li>a,
nav+ul li>div {
    color: white;
    display: inline-block;
    font-weight: 400;
    transition: all 0.2s;
    font-size: 15px;
    padding: 23px 10px;
}
nav+ul li>a:hover{
    text-decoration:none;
    color: white;
}

nav+ul li>div {
    cursor: default;
}

nav+ul li>div span {
    display: block;
    position: absolute;
    width: 160px;
    transform: translateX(-30%);
    background: white;
    top: 60px;
    border-radius: 4px;
    box-shadow: 0px 4px 30px -4px #00000080;
    transition: all 0.3s;
    transition-delay: 0.1s;
    visibility: hidden;
    font-size: 13px;
    opacity: 0;
    padding: 10px;
}

nav+ul li>div:hover span {
    top: 70px;
    visibility: visible;
    opacity: 1;
}

nav+ul li>div a {
    color: #7d2b2b;
    font-weight: bold;
    display: block;
    text-align:center;
}

nav+ul.green li>div a:hover,
nav+ul li>div a:hover,
nav+ul.always-green li>div a:hover,
nav+ul.nav_ul li>div a:hover, {
    background: whitesmoke;
    border-radius: 4px;
    color:#7d2b2b;
    text-decoration:none;
}

nav+ul.green a:hover,
nav+ul.always-green a:hover {
    background: #cc4747;
}

nav+ul a.contact {
    padding: 23px 0px;
}

nav+ul a.contact span {
    background-color: rgb(125, 42, 42);
    color: white;
    font-weight: 700;
    padding: 6px 14px;
    border-radius: 20px;
    margin: 0 5px;
    transition: all 0.1s;
}

nav+ul a.get-started span {
    background-color: #fff;
    color: #7d2b2b;
}

nav+ul.green a.contact:hover span,
nav+ul.always-green a.contact:hover span {
    border-radius: 0px;
    padding: 24px 19px;
    margin: 0px;
}

div#home div.welcome-page {
    height: 100vh;
    position: relative;
    overflow: visible;
}

div#home div#clientsList img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

div#home div#clientsList p {
    padding: 5px 0px 0px;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

div#home div.welcome-page .parallax {
    background: radial-gradient(circle at 50% 10%, #a93232, #351919);
    background-size: auto 100%;
}

div#home div.welcome-page p {
    padding: 20px 0px 40px;
    max-width: 550px;
    margin: 0px;
    text-align: left;
}




div#home div#clientsList {
    padding: 35px 20px 35px;
    background-color: #e8e8e8;
    position: relative;
    z-index: 20;
}

div#home .horizontal-grid {
    padding: 50px 20px 110px;
    position: relative;
    max-width: 1000px;
    margin: 40px auto 0px;
    overflow: hidden;
}

div#clientsCarousel::before {
    content: '';
    background: #e8e8e8;
    background: -moz-linear-gradient(left, #e8e8e8 0%, rgba(232, 232, 232, 0) 100%);
    background: -webkit-linear-gradient(left, #e8e8e8 0%, rgba(232, 232, 232, 0) 100%);
    background: linear-gradient(to right, #e8e8e8, rgba(232, 232, 232, 0));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='transparent', GradientType=1);
    height: 180px;
    width: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 120;
}

div#clientsCarousel::after {
    content: '';
    height: 180px;
    width: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 120;
    background: #7db9e8;
    background: -moz-linear-gradient(left, rgba(232, 232, 232, 0) 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(left, rgba(232, 232, 232, 0) 0%, #e8e8e8 100%);
    background: linear-gradient(to right, rgba(232, 232, 232, 0), #e8e8e8) filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#e8e8e8', GradientType=1);
}

div#home div#testimonials {
    max-width: 1200px;
    height: 150px;
    position: relative;
    display: block;
    margin: auto;
}

div#home div#testimonials li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #505050;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

div#home div#testimonials ul {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

div#home div#testimonials p {
    text-transform: initial !important;
    font-style: italic;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0px;
    font-weight: normal;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    color: #505050;
    transition: all 0.6s;
}

div#home div#testimonials p.testimonial-displayed {
    opacity: 1;
    visibility: visible;
    top: 30px;
    transition: all 0.6s;
}

div#home div#testimonials li.testimonial-displayed {
    background: #505050;
}

div#home div#testimonials span {
    font-weight: bold;
    display: block;
    margin: 10px auto 0px;
    text-align: center;
}

div#home div#conquerMarketForm {
    position: relative
}

div#home div#conquerMarketForm .content {
    padding: 80px 20px 90px
}

div#home div#conquerMarketForm .parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/young-people.jpg) top no-repeat;
    background-size: 100% auto;
}

div#home .china-image {
    position: absolute;
    right: 0px;
    height: 100%;
    width: auto;
    bottom: 0px;
    filter: brightness(0) grayscale(100%) sepia(100%) hue-rotate(463deg);
    opacity: 0.12;
    z-index: 20;
}

div#home .gray-filter {
    padding-left: 70px;
    background: none !important;
    justify-content: flex-start;
}

div#home .large-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
}

div#home .large-title h1 {
    font-size: 55px;
    margin: 10px 0px;
    max-width: 900px;
    text-align: left;
}

div#home .content>div {
    z-index: 70;
}

div#home div#conquerMarketForm .content.light-gray-filter {
    background: rgba(0, 0, 0, 0.32);
}


div#market div#marketForm,
div#market tr {
    position: relative
}

footer {
    background: white;
    z-index: 200;
    position: relative;
    padding: 30px 20px 20px;
}

footer a {
    color: #37c
}

footer .flex a {
    display: inline-block;
    background: rgba(187, 64, 64, 0.38);
    padding: 6px;
    border-radius: 2px;
    margin: 2px
}

footer img {
    width: 18px
}

footer p {
    font-weight: 700;
    font-size: 15px
}

div#market div.welcome-page {
    height: 400px;
    position: relative;
    overflow: hidden
}

div#market div.small-floor {
    padding: 120px 20px 40px;
    height: auto
}

div#market div.welcome-page .parallax {
    background: url(../images/people-target-market.jpg) center no-repeat fixed;
    background-size: cover
}

div#market.apps-ranking div.welcome-page .parallax {
    background: url(../images/market-apps.jpg) center no-repeat fixed;
    background-size: cover
}
div#market.device-brands-ranking div.welcome-page .parallax {
    background: url(../images/market-devices.jpg) center no-repeat fixed;
    background-size: cover
}

div#market.operating-systems-ranking div.welcome-page .parallax {
    background: url(../images/market-android.jpg) center no-repeat fixed;
    background-size: cover
}
div#market.locations-ranking div.welcome-page .parallax {
    background: url(../images/market-locations.jpg) center no-repeat fixed;
    background-size: cover
}
div#market div.welcome-page img {
    width: 100%;
    display: block;
    height: auto
}

div#market div.welcome-page p {
    padding: 20px 20px 0;
    max-width: 930px;
    margin: auto
}

div#market div.welcome-page h2 {
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px
}

div#market div#marketForm .content {
    padding: 40px 20px;
    background: #ebebeb;
}

#marketForm {
    margin: 0px 30px;
    overflow: hidden;
    border-radius: 8px; 
}

div#market h3 {
    padding: 30px;
    font-size: 21px
}

div#market table {
    width: calc(100% - 100px);
    margin: 0 50px 20px
}

div#market tr {
    display: block;
    background: #f3f3f3;
    width: calc(100% - 40px);
    margin: 6px auto 0px;
    padding: 6px;
    border-radius: 8px;
    max-width: 650px;
    left: 27px;
    cursor:pointer;
    transition: background 0.1s;
}
div#market tr:hover{
    background: #e9e9e9;
}

div#market tr:first-child {
    background: 0 0;
    margin-bottom: 0;
    color: gray;
    font-weight: 700;
    cursor: auto !important;
}

div#market tr:first-child td:nth-child(4) {
    top: 10px
}
div#market td:nth-child(3) {
    font-weight: bold;
    font-size: 17px;
}
div#market td:nth-child(4) {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 100px;
    text-align: right;
    font-weight: 700
}

div#market td:nth-child(4) img {
    position: absolute;
    right: 16px;
    top: 28px;
    width: 48px;
    text-align: right
}

div#market td:nth-child(3) span {
    color: gray;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300
}

div#market td:nth-child(3) a {
    font-weight: 700;
    color: #000;
    padding-right: 10px;
    font-size: 16px
}

div#market td:nth-child(2) {
    width: 38px;
    padding-right: 10px;
    height:38px;
}

div#market td:first-child {
    font-size: 28px;
    font-weight: 700;
    color: #b9b9b9;
    width: 31px;
    left: -47px;
    text-align: right;
    display: block;
    top: 4px;
    position: absolute
}

div#market tr:first-child td:nth-child(2) {
    width: 120px
}

div#market td:nth-child(5) {
    position: absolute;
    right: -37px;
    top: 17px;
    text-align: center;
    width: 25px
}

div#market span.location{
    width: 38px;
    height: 38px;
    background: #7d2c2c;
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    border-radius: 50%;
}

div#market td img {
    max-width: 100%
}

div#market p.disclaimer {
    font-size: 15px;
    padding: 20px 20px 30px;
    color: #555
}

div#market .charts-container {
    padding-top: 20px
}

div#market .charts-container span {
    margin: 0 20px 30px;
    width: 290px;
    display: inline-block;
    position: relative
}

div#market .charts-container h3 {
    font-size: 23px;
    margin: 0 10px 5px;
    padding: 10px
}
div#market tr.market-row-open{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
    background: #e9e9e9;
}
div#market tr + tr.market-details{
    display: none;
}
div#market tr.market-row-open + tr.market-details{
    display: block;
}
div#market tr.market-details {
    background: #f3f3f3 !important;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor: auto;
}
div#market tr.market-details:hover{
    background: #f3f3f3;
}
div#market tr.market-details td:first-child {
    margin: 0px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    text-align: left;
    font-size: 16px !important;
    color: #101010;
    font-weight: normal;
}
div#market tr.market-details p{
    font-size: 15px;
    padding: 2px;
    text-align: left;
}

div#aicon div.welcome-page {
    height: 400px;
    position: relative;
    overflow: hidden;
    padding-top: 65px;
}

div#aicon div.welcome-page .parallax {
    background: url(../images/piracy.jpg) 50% 50% no-repeat fixed;
    background-size: cover
}

div#aicon div.welcome-page img {
    width: 100%;
    display: block;
    height: auto
}

div#aicon div.welcome-page p {
    padding: 20px 20px 30px;
    max-width: 900px
}

div#aicon div.results {
    text-align: center;
    max-width: 1200px;
    margin: 50px auto;
    display: block
}

div#aicon .results>h1 {
    font-weight: 300
}

div#aicon .results>h1 span {
    font-weight: 700;
    text-transform: uppercase
}

div#aicon .results h2#totalDownloads {
    font-size: 28px;
    margin-bottom: 20px
}

div#aicon #loader {
    width: 75px;
    margin: 30px auto 50px
}

div#aicon div.results>p {
    font-size: 20px;
    padding: 15px
}

div#aicon div.results div>div {
    background: #eee;
    width: 200px;
    height: 195px;
    display: inline-block;
    border-radius: 8px;
    margin: 15px;
    position: relative;
    overflow: auto
}

div#aicon img.logo-store {
    display: block;
    margin: 20px auto auto;
    height: 45px;
    width: auto
}

div#aicon div.results div>div>a {
    margin-top: 10px;
    display: block;
    color: #a23737;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700
}

div#aicon div.results div p {
    padding: 10px;
    font-size: 15px
}

div#aicon p.bottom-link {
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0
}

div#aicon .results a:last-child {
    display: block;
    font-size: 17px;
    padding: 7px 5px;
    background: #bf3e3e;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: absolute;
    width: calc(100% - 10px);
    bottom: 0;
    color: #fff!important;
    text-transform: initial!important
}

div#about div#teamForm,
div#aicon div#aiconForm {
    position: relative
}

.green-button,
.title-with-line,
div#about h2,
div#about h3 {
    text-transform: uppercase
}

div#aicon div#aiconForm .content {
    padding: 70px 20px 80px;
    background: #ebebeb
}

div#aicon div#zeroResults {
    width: 300px;
    margin: 60px auto;
    text-align: center;
    padding: 15px;
    color: gray;
    font-size: 17px;
    background: #f5f5f5
}

div#about>div:first-child {
    padding: 130px 20px 0px;
}

div#about img {
    width: 150px;
    border-radius: 100%;
    background: radial-gradient(circle at 0% 0%, #e4e4e4, #656565);
    padding-top: 5px;
    min-height: 140px;
}

div#about ul li:nth-child(2) img {
    padding-top: 0px
}

div#about ul li:nth-child(2) img {
    padding-top: 12px
}

div#about ul li:nth-child(3) img {
    padding-top: 10px
}

div#about ul li:nth-child(4) img {
    padding-top: 5px
}

div#about ul li:nth-child(5) img {
    padding-top: 12px
}
/*
div#about ul li:nth-child(6) img {
    padding-top: 12px
}
div#about ul li:nth-child(7) img {
    padding-top: 0px;
    top: -4px;
    position: relative;
}*/

div#about h2 {
    font-size: 19px;
    padding: 15px 5px 5px
}

div#about h3 {
    font-size: 16px;
    margin: 0 10px 5px;
    color: #bd3a3a
}

#about p {
    max-width: 800px;
    margin: auto
}

div#about>.content {
    padding-top: 40px
}

div#about div#teamForm .content {
    padding: 70px 20px 80px;
    background: #ebebeb
}

div#contact div.welcome-page {
    height: 740px;
    position: relative;
    overflow: hidden;
    //padding-top: 40px;
}

div#contact div.welcome-page .parallax {
    background: url(../stock/general3.jpg) 50% 50% no-repeat fixed;
    background-size: cover
}

div#contact .temp {
    margin: 0 60px;
    width: 340px
}

div#contact div.side {
    width: 320px
}

div#contact span {
    display: block;
    margin: 15px 0
}

div#contact span img {
    margin: 0 8px 0 0;
    height: 20px;
    width: auto
}

div#contact span p {
    font-size: 15px;
    padding: 0;
    text-align: left
}

#privacy-policy {
    background: #ebebeb;
    padding: 120px 100px 70px;
    color: #3c3c3c
}

#privacy-policy p {
    text-align: justify;
    font-size: 18px;
    max-width: 1000px;
    margin: auto
}

#privacy-policy .policy-container {
    padding: 20px 50px 0;
    max-width: 900px;
    margin: auto
}

#privacy-policy .policy-container h3 {
    padding: 20px 0 5px;
    text-align: left;
    font-size: 22px
}

.align-center,
.vertical-form {
    text-align: center
}

#privacy-policy .policy-container p {
    font-size: 16px;
    padding: 0;
    line-height: 24px
}

.title-with-line {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px
}

.title-with-line.large {
    font-size: 24px;
    margin-top: 48px
}

.title-with-line:after,
.title-with-line:before {
    content: '';
    display: inline-block;
    width: 75px;
    height: 2px;
    background-color: #2f2f2f;
    margin: 0 5px
}

.white-color .title-with-line:after,
.white-color .title-with-line:before {
    background-color: #fff
}

.flex {
    display: flex!important;
    align-items: center;
    justify-content: center
}

.white-color {
    color: #fff!important
}

.green-button {
    color: #fff;
    background-color: #bc3f3f;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
    margin: 0px;
    display: inline-block;
    text-shadow: none;
    border: 1px solid #472626;
}

.gray-filter,
.light-gray-filter {
    text-shadow: 0 0 13px rgba(0, 0, 0, .45)
}

.green-button:hover {
    background-color: #ec4949
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10
}

.content {
    z-index: 20;
    height: 100%;
    position: relative
}

.gray-filter {
    background: rgba(0, 0, 0, .7)
}

.light-gray-filter {
    background: rgba(0, 0, 0, .2)
}

.grid {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center
}

.grid.triple {
    grid-template-columns: 300px 300px 300px;
    grid-gap: 0 25px;
}

.grid.quadruple {
    grid-template-columns: 280px 280px 280px 280px;
    grid-gap: 40px 20px;
    align-items: baseline
}

.grid.quintuple {
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 20px 35px;
    align-items: baseline;
}

.grid.quintuple a {
    text-decoration: none;
    z-index: 50;
}

.grid.team {
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-gap: 20px 15px
}

.vertical-form {
    display: block;
    width: 300px;
    margin: auto
}



.vertical-form button {
    margin: 5px 0
}

.flex.top,
.grid.top {
    align-items: baseline
}

.flex.left {
    justify-content: baseline
}

.align-left {
    text-align: left
}

.invisible {
    opacity: 0
}

.hidden {
    display: none!important
}

.large-button {
    width: 200px!important
}

.positive {
    color: red
}

.negative {
    color: red
}

.new {
    color: #3377cd;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}

.quote-button {
    border-radius: 5px;
    background: #be3a3a;
    color: white !important;
    text-decoration: none !important;
    font-size: 16px;
    padding: 6px 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 10px auto 20px;
}

.quote-button:hover {
    background: #ec4949;
}

nav+ul.nav-displayed {
    top: 10px;
    height: calc(100% - 10px);
}

.open-nav-button {
    cursor: pointer;
    position: fixed;
    z-index: 900;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 10px;
    border-radius: 8px;
    display: none;
    background: url(../images/menu.png) center no-repeat;
    background-size: 70%;
    filter: brightness(11);
}

.open-nav-button.nav-displayed {
    background: url(../images/close.png) center no-repeat;
    background-size: 55%;
    box-shadow: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 70;
    top: 0
}

.overlay.nav-displayed {
    display: block;
    opacity: 1
}

div#market div.welcome-page p.itallic-label {
    padding: 0;
    font-style: italic;
    font-size: 21px;
    font-weight: 200
}

div#market h3.itallic-label {
    padding: 30px 30px 25px;
    font-style: italic;
    font-size: 18px;
    font-weight: 200
}

div#market h3.itallic-label a {
    color: #37c
}

div#market h3.itallic-label.bottom-label {
    padding: 0 30px 35px
}

div#market h3.itallic-label.top-label {
    padding: 0 30px
}

div#market .aic-index {
    display: none
}

p.information {
    font-size: 14px;
    padding: 40px 0 5px
}

p.confirmation {
    font-size: 16px;
    font-weight: 700;
    position: fixed;
    bottom: 0;
    background: #333;
    text-shadow: none;
    width: calc(100% - 40px);
    left: 0;
    color: #fff;
    z-index: 900;
    display: flex;
    align-items: center
}

p.confirmation span {
    margin: auto
}

p.confirmation img {
    width: 20px;
    margin: 0 0 0 10px;
    height: 20px;
    cursor: pointer
}

#home-button {
    display: none;
}

nav+ul li.languages-dropdown>div span {
    width: auto;
    padding: 10px 10px;
    font-size: 13px;
    right: 3px;
    transform: none;
}

nav+ul li.languages-dropdown>div a {
    padding: 15px;
}

.careers {
    background: #ebebeb;
    padding: 40px 10px;    
    margin: 0px 30px;
    border-radius: 8px;
}

.job {
    display: block;
    width: calc(100% - 170px);
    max-width: 1100px;
    margin: 20px auto;
    background: white;
    box-shadow: 0px 3px 20px #00000021;
    border-radius: 5px;
    text-align: left;
    padding: 20px 30px 20px 20px;
    position: relative;
}

.job h1 {
    color: #be4040;
    font-size: 22px;
    text-align: left;
    margin: 0px 19px;
    cursor: pointer;
}

.job:not(.opened)>*:not(h1):not(img) {
    display: none;
}

.job img {
    width: 20px !important;
    background: none !important;
    position: absolute;
    right: 37px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    cursor: pointer;
    min-height: unset !important;
}

.job.opened img {
    transform: rotate(180deg);
}

.job h2 {
    font-size: 19px;
    padding: 15px 5px 5px;
    text-align: left;
    text-transform: none !important;
    margin: 0px 15px;
}

.job ul {
    padding: 0px;
    margin: 0px 10px 0px 40px !important;
}

.job li {
    font-size: 17px;
    list-style-type: square;
    text-align: left;
}

.job p {
    font-size: 17px;
    text-align: justify;
    padding: 10px 20px;
    max-width: unset !important;
}

.job a {
    color: #3377ce;
    font-weight: bold;
    text-decoration: none;
}

#feedbackForm, #mediaForm {
    background: #eaeaea;
    padding: 50px 0px;
}

.services-nav{
    display: none;
    position: fixed;
    top: 67px;
    z-index: 30;
    background: whitesmoke;
    height: calc(100% - 123px);
    width: 200px;
    padding: 8px 18px 48px;
    box-shadow: -10px 0px 40px -20px inset #000000d1;
}
.services-nav .title{
    font-weight: bold;
    padding: 20px 0px 5px;
    text-transform: uppercase;
    font-size: 17px;
    text-align: left;
}
.services{
   /* padding: 130px 0px 0px 236px;*/
   padding: 130px 0px 0px 0px;
}
.services-nav a{
    text-align: left;
    display: block;
    text-decoration: none;
    color: #2f2f2f;
}
.services-nav a.selected{
    font-weight: bold;
    color: #bd4040;
}
#servicesForm{
    background: #ebebeb;
    padding: 40px 0px;
    margin: 0px 30px;
    border-radius: 8px;
}
.service-list {
    width: 100%;
    margin: auto;
    padding: 20px 0px 40px;
}
.service-list p{
    text-align: justify;
    padding: 8px;
    font-size: 16px;
}
.service-list p.padding-bottom{
    padding-bottom: 35px;
}
.service-list h2{   
    padding: 35px 3px 20px;
    color: #be4040;
    font-size: 24px;
    text-align: left;
}
.service-list h2:not(:first-child){
    border-top: 1px solid #cccccc;
}
.service-list h3{
    text-align: left;
    font-size: 18px;
    padding: 5px 0px 5px 10px;
    background: whitesmoke;
    margin: 3px 0px;
    border-radius: 5px;
}
.service-list .introduction{
    margin: 0px auto 30px;
    max-width: 900px;
    text-align: center;
    font-size: 20px;
}
.services .optional-extra{
    position: relative;
    font-weight: bold;
    font-size: 12px;
    top: -8px;
    left: 3px;
    background: #be4040;
    padding: 0px 4px;
    border-radius: 3px;
    color: white;
}

.services-floors > div{
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
        border-top: 2px solid whitesmoke;
}
.services-floors > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.services-floors > div > div .details{
    width: 100%;
    max-width: 650px;
}
.services-floors p{
    font-size: 16px;
    text-align: justify;
    padding: 10px 20px 20px;
}
.services-floors h2{
    text-align: left;
    font-size: 25px;
    padding: 0px 20px;
}
.services-floors > div > div{
    position: relative;
}
.services-floors img {
    position: absolute;
    height: 550px;
    bottom: -50px;
    left: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px #545454c2;
}
.services-floors a{
    background: #bf4040;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 4px;
    margin: auto;
    display: block;
    width: fit-content;
}
.services-floors a:hover{
    background: #ab3131;
}
.services-floors > div:nth-child(even){
    background: whitesmoke;
    grid-template-columns: 40% 60%;
}
.services-floors > div:nth-child(even) > div:first-child{
    order: 2;
}
.services-floors > div:nth-child(even) img{
    left: unset;
    right: 0px;
}
.service-details{
    display: grid;
    grid-template-columns: 45% 55%;
}
.service-details > div:nth-child(2){
    padding: 0px 20px 0px 30px;
    order: 1;
}
.service-details .image-container{
    justify-content: center;
    align-items: center;
    position: relative;
    order: 2;
}
.service-details img{
    position: relative;
    height: auto;
    width: calc(100% - 30px);
    margin-right: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px #5454548f;
}
.service-details{
        display: block;
}
.service-details > div:nth-child(2) {
    padding: 0px 20px;
    width: calc(100% - 40px);
    max-width: 900px;
    margin: auto;
}
.service-details img{
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.service-details .image-container{
    padding: 0px 20px 50px;
}

#getStartedNow{
    background: white;
    color: #be4040;
    border: none;
    font-weight: bold;
    font-size: 21px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

#getStartedNow:hover{
    background: #be4040;
    color: white;
}

#media{
    padding: 100px 20px 40px;
    background: #f5f5f5;
}

#media > p{
    padding-bottom: 0px;
}

#media .card{
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    margin: 25px auto;
    text-align: center;
    position: relative;
    background: white;
    box-shadow: 0px 9px 20px #00000021;
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.25s;
    overflow: hidden;
    height: 200px;
}

#media .card:hover{
    box-shadow: 0px 9px 26px #00000034;
    transform: scale(1.01);
    z-index: 60;
}

#media .image-container, #media .image-container span{
    background: radial-gradient(circle at 0% 0%, #e4e4e4, #656565);
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    display: block;
}
#media #media30 span{background: url(../images/media/media30.jpeg) no-repeat center;}
#media #media29 span{background: url(../images/media/media29.jpg) no-repeat center;}
#media #media28 span{background: url(../images/media/media28.jpg) no-repeat center;}
#media #media27 span{background: url(../images/media/media27.jpeg) no-repeat center;}
#media #media26 span{background: url(../images/media/media26.jpeg) no-repeat center;}
#media #media25 span{background: url(../images/media/media25.jpeg) no-repeat center;}
#media #media24 span{background: url(../images/media/media24.jpg) no-repeat center;}
#media #media23 span{background: url(../images/media/media23.jpg) no-repeat center;}
#media #media22 span{background: url(../images/media/media22.jpg) no-repeat center;}
#media #media21 span{background: url(../images/media/media21.jpg) no-repeat center;}
#media #media20 span{background: url(../images/media/media20.jpeg) no-repeat center;}
#media #media19 span{background: url(../images/media/media19.jpg) no-repeat center;}
#media #media18 span{background: url(../images/media/media18.jpg) no-repeat center;}
#media #media17 span{background: url(../images/media/media17.jpg) no-repeat center;}
#media #media16 span{background: url(../images/media/media16.jpg) no-repeat center;}
#media #media15 span{background: url(../images/media/media15.jpg) no-repeat center;}
#media #media14 span{background: url(../images/media/media14.jpg) no-repeat center;}
#media #media13 span{background: url(../images/media/media13.jpg) no-repeat center;}
#media #media12 span{background: url(../images/media/media12.jpg) no-repeat center;}
#media #media11 span{background: url(../images/media/media11.jpg) no-repeat center;}
#media #media10 span{background: url(../images/media/media10.jpg) no-repeat center;}
#media #media9 span{background: url(../images/media/media9.jpg) no-repeat center;}
#media #media8 span{background: url(../images/media/media8.jpg) no-repeat center;}
#media #media7 span{background: url(../images/media/media7.jpg) no-repeat center;}
#media #media6 span{background: url(../images/media/media6.jpg) no-repeat center;}
#media #media5 span{background: url(../images/media/media5.jpg) no-repeat center;}
#media #media4 span{background: url(../images/media/media4.jpg) no-repeat center;}
#media #media3 span{background: url(../images/media/media3.jpg) no-repeat center;}
#media #media2 span{background: url(../images/media/media2.jpg) no-repeat center;}
#media #media1_A span{background: url(../images/media/media1_A.jpeg) no-repeat center;}
#media #media1 span{background: url(../images/media/media1.jpg) no-repeat center;}

#media .image-container span{
    background-size: cover !important;
}

#media .text-container h2{
    text-align: left;
    padding: 10px 10px 0px;
    font-size: 18px;
}

#media .text-container h2 span{
    font-weight: normal;
    color: #b5b5b5;
}

#media .text-container p{
    text-align: justify;
    padding: 10px;
    font-size: 16px;
}

#media .card > a {
    border: none;
    margin: 0px 10px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}

#media .show-more{
    text-align: center;
    margin: 50px 0px 10px;
}

#media .show-more button{
    outline: none;
    border: 2px solid #bc3f3f;
    font-size: 17px;
    color: #bc3f3f;
    text-transform: uppercase;
    background: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
    margin: 0px;
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-width:1320px) {
    .grid.quadruple {
        grid-template-columns: 340px 340px;
        grid-gap: 40px 20px;
        align-items: baseline;
    }
    .first-empty-row {
        display: none;
    }
}

@media only screen and (max-width:1200px) {
    .dashboard {
        display: block !important;
        align-items: center;
        text-align: center;
    }
    div#home div#conquerMarketForm .parallax {
        background-size: auto 100%;
    }
}

@media only screen and (max-width:1070px) {
    .grid.quintuple {
        grid-template-columns: 120px 120px 120px 120px;
        grid-gap: 25px 30px;
    }
    .grid.double {
        grid-template-columns: 360px 360px;
        grid-gap: 0 0
    }
    nav+ul a {
        padding: 23px 10px
    }
    .grid.team {
        grid-template-columns: 180px 180px 180px;
        grid-gap: 20px 30px
    }
    div#contact .temp {
        margin: 0 40px;
        width: 320px
    }
    #privacy-policy {
        padding: 240px 40px 70px
    }
    div#aicon div.welcome-page {
        height: auto
    }
    div#aicon div.welcome-page .content {
        padding: 40px 10px
    }
    .grid.triple {
        grid-template-columns: 400px;
        grid-gap: 35px 25px;
    }
    .empty-row {
        display: none;
    }
}

@media only screen and (max-width:960px) {
    nav+ul li.languages-dropdown {
        //display: none;
    }
    #home-button {
        display: block;
        margin-top: 60px;
    }
    nav+ul {
        display: block!important
    }
    nav:not(#nav-below) {
        height: 70px;
        box-shadow: 0 0px 22px #00000063;
        width: 100%;
        background: #bc3f3f;
        display: flex;
        padding: 0px;
        position: fixed;
    }
    nav+ul {
        position: fixed;
        top: -900px;
        background: #fff;
        padding: 0px 60px 0;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .29)
    }
    nav+ul li>a,
    nav+ul li>a.contact{
    padding: 5px 0px 0px 25px;
    color: #545454;
    background: #fff;
    display: block;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    border-radius: 0;
}
nav+ul li>a.contact{
    top: -10px;
    position: relative;
}
nav+ul li {
    list-style-type: none;
    overflow: hidden;
    padding: 10px 0px;
}
    nav+ul li>div {
    width: 100%;
    padding: 0px;
    color: #bb3f3f;
    text-align: left;
}
    nav+ul li>div span {
    display: block;
    position: relative;
    width: 100%;
    transform: translateX(0%);
    background: white;
    top: 0px;
    visibility: visible;
    opacity: 1;
    box-shadow: none;
    padding: 0px 0px 0px 10px;
}
    nav+ul li>div:hover span {
        top: 0px;
    }
    nav+ul.green li a:hover,
    nav+ul li a:hover,
    nav+ul.always-green a:hover {
        background: white;
        color: rgb(172, 41, 41);
        padding-left: 35px;
    }
    nav+ul li>div a{
    color: #555555;
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    font-size: 20px;
    text-align: left;
    padding: 10px 0px;
}
    .open-nav-button {
        display: block;
    }
    nav+ul.green {
        background: white;
        box-shadow: 0 0px 22px #00000063;
    }
    nav+ul.nav-displayed {
        max-height: 100%;
        overflow: auto;
        background: white;
    }
    nav+ul li>a.contact span{
        padding: 0px !important;
        margin: 0px;
        background: white;
        color: rgb(125, 42, 42);
    }
    div#home .china-image {
        height: auto;
        width: 100%;
        top: 200px;
        right: 0px;
    }
    div#home .gray-filter {
        padding-right: 40px;
    }
    nav+ul.green,
    nav+ul.always-green {
        background: white;
    }
    .title-with-line.large {
        font-size: 20px;
    }
    nav+ul.green a:hover,
    nav+ul.always-green a:hover {
        background: white;
        color: rgb(172, 41, 41);
    }
    nav>a {
        position: absolute;
        top: 13px;
        right: calc(50% - 120px);
    }
    .grid.quadruple {
        grid-template-columns: 90%;
        grid-gap: 40px 10px;
        align-items: baseline;
    }
    .services-floors > div{
        display: block;
    }
    .services-floors > div > div{
        height: fit-content;
    }
    .services-floors p{
        font-size: 14px;
        padding: 10px 12px 20px;
    }
    .services-floors h2{
        text-align: center;
        font-size: 22px;
        padding-top: 20px;
    }
    .services-floors img{
        position: relative;
        top: 15px;
        width: 120%;
        left: 20%;
        margin-top: 20px;
        height: auto;
        border-radius: 5px;
    }
    .services-floors > div:nth-child(even) img{
        right: 20%;
    }
}

@media only screen and (max-width:740px) {
    #servicesForm, #marketForm{
        border-radius: 0px;
        margin: auto;
    }
    div#home div#testimonials {
        height: 200px;
    }
    #privacy-policy .policy-container {
        padding: 20px 30px 0;
    }
    div#contact div#contactForm .flex.top,
    form.flex {
        display: block !important;
    }
    footer {
        padding: 40px 20px 60px;
    }
    .grid.quintuple {
        grid-template-columns: 100px 100px;
        grid-gap: 10px 30px;
    }
    .grid.double {
        grid-template-columns: 390px;
        grid-gap: 0 0
    }
    form.flex {
        width: 80%;
        margin: auto
    }
   
    form.flex>button {
        margin: 10px
    }
    td,
    th {
        padding: 2px top: 12px
    }
    div#market td:nth-child(3) a {
        padding-left: 0
    }
    div#market td:nth-child(4) {
        right: 20px;
        top: 20px
    }
    .grid.team {
        grid-template-columns: 180px 180px;
        grid-gap: 10px 10px
    }
    #privacy-policy {
        padding: 120px 10px 70px
    }
    .green-button {
        padding: 14px 24px;
        font-size: 17px
    }
    div#market div.small-floor {
        padding: 120px 20px 40px
    }
    .title-with-line {
        font-size: 16px
    }
    .title-with-line:after,
    .title-with-line:before {
        width: 35px
    }
    div#market table {
        width: calc(100% - 70px);
        margin: 0 10px 20px
    }
    div#market .charts-container h3 {
        padding: 0;
        margin: 0
    }
    div#market td:nth-child(2) {
        width: 45px;
        padding: 0 9px
    }
    div#market td:nth-child(2) {
        position: relative
    }
    div#market td:nth-child(3) span {
        color: gray;
        padding-left: 0;
        font-size: 16px;
        font-weight: 300;
        display: block
    }
    div#market td:first-child {
        top: 10px
    }
    div#market td:nth-child(5) {
        top: 30px
    }
    .grid.triple {
        grid-template-columns: calc(100% - 20px);
        grid-gap: 35px 0px;
    }
    #newsletter-signup {
        bottom: 5px;
        right: 5px;
    }
    #media .card{
        display: block;
        height: fit-content;
    }
    #media .image-container, #media .image-container span{
        width: 100%;
        height: 180px;
    }
    #media .text-container h2{
        text-align: center;
    }
    #media .card > a{
        position: relative;
        margin: 10px 10px 5px;
    }
    div.job{
        padding: 10px 38px 10px 10px;
        margin: 20px auto;
        width: calc(100% - 70px);
    }
    div.job img {
        right: 12px;
    }
}
